In [1]:
import pandas as pd

In [2]:
maDataFrame = pd.read_csv('../../Data/output/ecoles-creches-idf-melt.csv')

In [3]:
maDataFrame

,ID,nom,departement,ville,CP,type,Année,Polluant,valeur
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2012,NO2,41.316912
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,2012,NO2,63.683878
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2012,NO2,41.507336
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,2012,NO2,45.197342
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,2012,NO2,40.109546
...,...,...,...,...,...,...,...,...,...
225535,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche,2017,PM25,11.044208
225536,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche,2017,PM25,11.271947
225537,12194,Les coccinelles,92,Clamart,92140,crèche,2017,PM25,11.889488
225538,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche,2017,PM25,12.218995
225539,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche,2017,PM25,12.212256

In [6]:
maDataFrame.query('ID=="0750026W"')

,ID,nom,departement,ville,CP,type,Année,Polluant,valeur
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2012,NO2,41.316912
12530,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2013,NO2,42.916257
25060,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2014,NO2,40.610102
37590,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2015,NO2,37.182711
50120,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2016,NO2,37.885329
62650,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2017,NO2,37.345489
75180,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2012,PM10,27.311257
87710,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2013,PM10,27.054589
100240,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2014,PM10,23.092735
112770,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2015,PM10,23.790138
125300,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2016,PM10,23.077844
137830,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2017,PM10,21.782889
150360,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2012,PM25,17.152857
162890,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2013,PM25,18.637080
175420,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2014,PM25,14.895546
187950,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2015,PM25,15.277787
200480,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2016,PM25,14.806532
213010,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2017,PM25,13.549347

In [4]:
maDataFrame.query('ID=="0750132L"')

,ID,nom,departement,ville,CP,type,Année,Polluant,valeur
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2012,NO2,41.507336
12532,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2013,NO2,41.598420
25062,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2014,NO2,42.855147
37592,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2015,NO2,39.286859
50122,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2016,NO2,37.536618
62652,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2017,NO2,37.655654
75182,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2012,PM10,27.037523
87712,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2013,PM10,26.568090
100242,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2014,PM10,22.482355
112772,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2015,PM10,22.995246
125302,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2016,PM10,22.400441
137832,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2017,PM10,20.867075
150362,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2012,PM25,16.614189
162892,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2013,PM25,18.142261
175422,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2014,PM25,14.487745
187952,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2015,PM25,14.562495
200482,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2016,PM25,14.134427
213012,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2017,PM25,12.561472

In [5]:
maDataFrame.columns

Index(['ID', 'nom', 'departement', 'ville', 'CP', 'type', 'Année', 'Polluant',
       'valeur'],
      dtype='object')

In [6]:
école_info = maDataFrame[['ID', 'nom', 'departement', 'ville', 'CP', 'type']]

In [7]:
école_info

,ID,nom,departement,ville,CP,type
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire
...,...,...,...,...,...,...
225535,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche
225536,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche
225537,12194,Les coccinelles,92,Clamart,92140,crèche
225538,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche
225539,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche

In [8]:
école_info.query('ID=="0750132L"')

,ID,nom,departement,ville,CP,type
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
12532,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
25062,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
37592,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
50122,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
62652,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
75182,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
87712,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
100242,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
112772,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
125302,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
137832,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
150362,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
162892,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
175422,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
187952,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
200482,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
213012,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire

In [9]:
école_info = école_info.drop_duplicates()

In [10]:
école_info.query('ID=="0750132L"')

,ID,nom,departement,ville,CP,type
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire

In [12]:
maDataFrame.drop(columns=['nom', 'departement', 'ville', 'CP', 'type'], inplace=True)

In [13]:
maDataFrame

              ID  Année Polluant     valeur
0       0750026W   2012      NO2  41.316912
1       0750106H   2012      NO2  63.683878
2       0750132L   2012      NO2  41.507336
3       0750136R   2012      NO2  45.197342
4       0750138T   2012      NO2  40.109546
...          ...    ...      ...        ...
225535     12192   2017     PM25  11.044208
225536     12193   2017     PM25  11.271947
225537     12194   2017     PM25  11.889488
225538     12195   2017     PM25  12.218995
225539     12196   2017     PM25  12.212256

[225540 rows x 4 columns]

In [14]:
école_info

,ID,nom,departement,ville,CP,type
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire
...,...,...,...,...,...,...
12525,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche
12526,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche
12527,12194,Les coccinelles,92,Clamart,92140,crèche
12528,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche
12529,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche

In [15]:
école_info.to_csv('../../Data/output/ecoles-creches-idf-info.csv', index=False)

In [16]:
école_info.to_csv('../../Data/output/ecoles-creches-idf-polluant.csv', index=False)