In [4]:
import pandas as pd

In [5]:
maDataFrame = pd.read_csv('../../Data/ozone.csv')

In [6]:
maDataFrame

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [7]:
joursOff = maDataFrame.loc[maDataFrame["JOUR"]==1]

In [8]:
joursOff

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
7,1,135,164.3,23.5,0.01087,15.733,2.911,Aix,4.8795,0.79989
8,1,121,144.1,23.3,0.01168,8.807,1.867,Aix,5.1088,0.70226
13,1,83,158.9,15.4,0.01456,10.254,1.839,Aix,2.5942,0.48089
...,...,...,...,...,...,...,...,...,...,...
1020,1,104,123.0,18.1,0.01358,0.710,0.131,Pla,2.4739,-0.24498
1026,1,100,175.6,23.7,0.00949,1.447,0.180,Pla,4.9031,0.20540
1027,1,90,140.5,22.3,0.00821,0.415,0.062,Pla,4.9820,0.89919
1032,1,77,130.3,17.3,0.01306,0.814,0.124,Pla,5.7706,-1.41419
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [9]:
joursOff = maDataFrame.loc[(maDataFrame["JOUR"]==1) & (maDataFrame.O3obs>=100)]

In [10]:
joursOff

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
7,1,135,164.3,23.5,0.01087,15.733,2.911,Aix,4.8795,0.79989
8,1,121,144.1,23.3,0.01168,8.807,1.867,Aix,5.1088,0.70226
20,1,118,113.0,26.2,0.01064,4.615,0.995,Aix,6.2769,0.53496
21,1,130,136.3,27.2,0.00912,4.276,0.827,Aix,6.0033,0.52328
...,...,...,...,...,...,...,...,...,...,...
988,1,113,208.9,22.2,0.00731,5.804,0.812,Pla,9.0139,-0.05550
995,1,114,160.5,24.9,0.00770,3.407,0.542,Pla,10.4652,-0.45510
996,1,111,137.1,22.2,0.00473,3.801,0.743,Pla,11.8119,-0.49394
1020,1,104,123.0,18.1,0.01358,0.710,0.131,Pla,2.4739,-0.24498
1026,1,100,175.6,23.7,0.00949,1.447,0.180,Pla,4.9031,0.20540

In [11]:
joursOff = maDataFrame.loc[(maDataFrame["JOUR"]==1) & 
                          (maDataFrame.O3obs>=100) &
                          ((maDataFrame.STATION=='Ram')|(maDataFrame.STATION=='Cad'))]

In [12]:
joursOff

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
422,1,103,100.5,20.7,0.00748,0.981,0.233,Cad,9.43660,-0.17038
428,1,203,182.0,25.4,0.01275,5.952,0.812,Cad,6.10740,0.69264
429,1,208,188.0,25.3,0.01184,7.850,1.130,Cad,6.79560,0.57576
446,1,106,138.0,34.1,0.01192,1.112,0.159,Cad,7.55050,-0.19999
447,1,114,157.8,32.9,0.01569,3.481,0.454,Cad,7.18470,0.60731
...,...,...,...,...,...,...,...,...,...,...
763,1,191,200.4,27.8,0.00856,3.482,0.367,Ram,0.30000,-1.57079
765,1,104,128.3,29.6,0.00776,2.831,0.472,Ram,3.10644,-0.99172
766,1,167,168.4,29.0,0.00648,12.671,1.801,Ram,2.60000,0.39479
804,1,110,140.7,23.9,0.00608,11.722,1.807,Ram,1.65529,1.13417
810,1,128,122.4,28.3,0.00878,6.638,1.015,Ram,4.60110,0.02174

In [13]:
joursOff.reset_index( drop=True, inplace=True)

In [14]:
joursOff

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,103,100.5,20.7,0.00748,0.981,0.233,Cad,9.43660,-0.17038
1,1,203,182.0,25.4,0.01275,5.952,0.812,Cad,6.10740,0.69264
2,1,208,188.0,25.3,0.01184,7.850,1.130,Cad,6.79560,0.57576
3,1,106,138.0,34.1,0.01192,1.112,0.159,Cad,7.55050,-0.19999
4,1,114,157.8,32.9,0.01569,3.481,0.454,Cad,7.18470,0.60731
...,...,...,...,...,...,...,...,...,...,...
64,1,191,200.4,27.8,0.00856,3.482,0.367,Ram,0.30000,-1.57079
65,1,104,128.3,29.6,0.00776,2.831,0.472,Ram,3.10644,-0.99172
66,1,167,168.4,29.0,0.00648,12.671,1.801,Ram,2.60000,0.39479
67,1,110,140.7,23.9,0.00608,11.722,1.807,Ram,1.65529,1.13417
68,1,128,122.4,28.3,0.00878,6.638,1.015,Ram,4.60110,0.02174

**Modifier les valeurs d'une DataFrame**

In [15]:
maDataFrame.iloc[0,0]=100

In [16]:
maDataFrame

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,100,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [19]:
maDataFrame = pd.read_csv('../../Data/ozone.csv')

In [20]:
maDataFrame

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [21]:
maDataFrame["RÃ©sultat"] = False
columns = list(maDataFrame.columns.values)
maDataFrame = maDataFrame[columns[0:3]+[columns[-1]]+columns[3:10]]
dif = abs(maDataFrame["O3obs"]- maDataFrame["MOCAGE"]) 
maDataFrame.loc[dif < 2.5 , "RÃ©sultat"]= True
res = maDataFrame[["JOUR","O3obs","MOCAGE","RÃ©sultat"]]
print(res.head(5))

   JOUR  O3obs  MOCAGE  RÃ©sultat
0     1     91    93.2      True
1     1    100   104.6     False
2     0     82   103.6     False
3     0     94    94.8      True
4     0    107    99.0     False

In [22]:
no2_sort = maDataFrame.sort_values('NO2')
print(no2_sort)

     JOUR  O3obs  MOCAGE  RÃ©sultat  TEMPE    RMH2O     NO2     NO STATION  \
897     1    150   109.1     False   25.4  0.01358   0.258  0.080     Pla
991     0    104   163.3     False   24.1  0.00927   0.280  0.084     Pla
842     0    126   131.7     False   18.7  0.01063   0.310  0.047     Pla
912     1     95   129.0     False   23.4  0.02076   0.319  0.052     Pla
915     1    166   173.5     False   18.2  0.00655   0.328  0.001     Pla
..    ...    ...     ...       ...    ...      ...     ...    ...     ...
32      0    139    92.5     False   26.0  0.01426  23.822  7.510     Aix
707     1     96    96.1      True   15.2  0.00735  28.383  7.560     Ram
83      0     93   163.1     False   19.0  0.00690  30.934  5.006     Aix
197     0    117   154.7     False   20.4  0.00663  31.114  3.776     Aix
825     0     96    91.2     False   20.5  0.00510  44.396  9.429     Ram

     VentMOD  VentANG
897  5.38520  1.02401
991  4.30120  0.95055
842  5.07740  1.01011
912  5.90080  1.55385
915  5.77060 -1.08390
..       ...      ...
32   5.36000  0.93103
707  3.15753  0.19118
83   3.93190  0.12751
197  3.80789  0.23861
825  2.54950  0.84090

[1041 rows x 11 columns]

In [23]:
sortBy_O3obs_TEMPE = maDataFrame.sort_values(['O3obs','TEMPE'], ascending=[1,0])
print(sortBy_O3obs_TEMPE.head(25))

     JOUR  O3obs  MOCAGE  RÃ©sultat  TEMPE    RMH2O     NO2     NO STATION  \
418     0     19    48.2     False   20.5  0.00786   7.777  2.143     Als
417     0     23    65.1     False   18.3  0.01106   2.519  0.507     Als
178     1     26   187.3     False   21.7  0.01044  20.248  2.278     Aix
249     0     27   122.7     False   22.1  0.02082   2.742  0.444     Als
250     0     31    84.2     False   18.0  0.01849   1.264  0.312     Als
405     1     33    91.3     False   19.7  0.01281   2.272  0.298     Als
370     0     35    87.8     False   20.3  0.00931   1.528  0.356     Als
359     0     36    85.1     False   21.6  0.00991   0.902  0.175     Als
785     0     38    75.3     False   22.5  0.00926   1.231  0.329     Ram
410     0     39    51.7     False   12.7  0.00861   6.336  1.874     Als
407     0     41    67.7     False   21.2  0.00970   4.203  1.043     Als
419     0     41    63.4     False   18.2  0.00655   1.795  0.402     Als
409     0     42    96.7     False   23.5  0.01019   2.519  0.343     Als
343     0     44    71.5     False   19.8  0.01089   1.070  0.292     Als
362     0     45    59.9     False   21.0  0.01082   2.112  0.682     Als
316     0     46    97.7     False   18.1  0.00831   1.839  0.413     Als
729     0     46   102.3     False   16.4  0.01022   3.519  0.822     Ram
199     1     46    67.2     False   15.0  0.00978   0.708  0.264     Als
769     0     48    93.8     False   22.3  0.01061   1.635  0.363     Ram
344     0     48    89.1     False   16.7  0.00853   1.514  0.359     Als
11      0     48   146.0     False   14.3  0.01453  13.664  2.976     Aix
706     1     48    58.4     False   11.9  0.00764   4.477  1.944     Ram
641     0     51    83.3     False   19.4  0.01430   1.791  0.509     Ram
320     1     51    63.4     False   16.5  0.00747   2.396  0.863     Als
601     1     52   218.2     False   23.1  0.00952   6.148  0.482     Cad

     VentMOD  VentANG
418  3.58469  1.04473
417  2.77849  0.52807
178  4.12311  0.39852
249  2.14009  0.91795
250  3.33766 -0.15037
405  2.28254  1.06795
370  4.60977  1.14596
359  5.34509  0.30400
785  6.50308  0.03076
410  4.20476  1.12842
407  3.96232  0.82110
419  4.20119  0.66731
409  5.73062  0.51049
343  5.34509  0.30400
362  7.35731  1.02805
316  6.30317  0.84152
729  2.40416 -1.27536
199  4.44072  0.62549
769  7.47061 -0.48760
344  5.00400 -0.03998
11   5.80340 -0.03447
706  5.73149 -0.82242
641  6.35138  0.58364
320  1.02956  0.50710
601  5.86690  0.51703

In [24]:
res

      JOUR  O3obs  MOCAGE  RÃ©sultat
0        1     91    93.2      True
1        1    100   104.6     False
2        0     82   103.6     False
3        0     94    94.8      True
4        0    107    99.0     False
...    ...    ...     ...       ...
1036     0    116   233.6     False
1037     0     60   162.5     False
1038     0     74   198.4     False
1039     0    121   191.7     False
1040     1     93   221.2     False

[1041 rows x 4 columns]

In [26]:
res.drop(columns=["RÃ©sultat"])

      JOUR  O3obs  MOCAGE
0        1     91    93.2
1        1    100   104.6
2        0     82   103.6
3        0     94    94.8
4        0    107    99.0
...    ...    ...     ...
1036     0    116   233.6
1037     0     60   162.5
1038     0     74   198.4
1039     0    121   191.7
1040     1     93   221.2

[1041 rows x 3 columns]